target/
!.mvn/wrapper/maven-wrapper.jar
!target/*.jar
*.class
*.log
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
.DS_Store
Dockerfile
.dockerignore
